{% block content %}
<html>

<head>
    <title>Index</title>
    {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">


</head>
<body>
{% load static %}
<div>
    <center><h1>Welcome To Your Own Bank</h1></center>
    <div class="header">
        <img src="{% static 'images/banklogo.png' %}" class="img-fluid" alt="My image" style="width: 200px; height: 250px"/>
    <div class="header-right">
    <a class="active" href="">Admin</a>
    <a class="active" href="{% url 'Register' %}">Register</a>
  </div>
</div>
    <center>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="container">
                <label for="uname"><b>Email</b></label>
                <input type="email" placeholder="Enter Email" name="email" required>
                <br><br>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <br><br>
                <button type="submit">Login</button>
                <br><br>
</div>
</body>
</html>
{% endblock %}